@import 'node_modules/sass-bem/bem';

$bem-component-namespace: 'md';

@include c('item') {

  @include e('background') {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -1000;
    opacity: .1;
  }

  @include e('meta') {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5625rem /* 25/16 */ 1.25rem /* 20/16 */;
  }

  @include e('poster') {
    text-align: center;
    margin: .625rem /* 10/16 */;
  }

  @include e('title') {
    font-style: 1.3125rem /* 21/16 */;
    color: #444;
  }

  @include e('info') {
    font-size: .75rem /* 12/16 */;
    color: #888;
    margin-top: .625rem /* 10/16 */;
    width: 80%;
  }

  @include e('summary') {
    width: 80%;
    margin: .9375rem /* 15/16 */ auto;
  }

  @include e('label') {
    display: block;
    font-size: .9375rem /* 15/16 */;
    margin-bottom: .9375rem /* 15/16 */;
  }

  @include e('content') {
    color: #666;
    font-size: .6875rem /* 11/16 */;
    padding: 2em;
  }
}
